$main_color:#1C1C1C;
$main_color_opacity:rgba(28, 28, 28, 0);
$main_background:#F4E770;
$main_background_opacity:rgba(255, 255, 255, 0.5);
$button_active:#9270F4;
$incorrect:#F47070;
$correct:#70F4A5;
$disabled_border:#555555;
$disabled_color:#9E9E9E;
$popup_background:#FFFFFF;