@import "../../assets/scss/variables.scss";

.main {
  margin-top: 128px;
  margin-bottom: 20px;
}

.section__welcome {
  text-align: center;

  .section__wrapper {
    display: flex;
    justify-content: center;
  }

  .section__welcome-text {
    margin: 20px 0 40px 0;
    height: 64px;
    p {
      font-family: "InputMonoCondensed";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      display: inline;
    }

    .typed-cursor {
      font-size: 32px;
    }
  }
}

.section__keyboard-content {
  display: flex;
  margin-bottom: 40px;
}

.section__keyboard-info {
  width: 685px;
  text-align: left;
}

.section__keyboard-change{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.section__our-goal {
  text-align: center;

  h2 {
    margin-bottom: 40px;
  }
}

.section__content-block {
  width: 900px;
}

.section__track {
  .section__wrapper {
    display: flex;
  }

  .section__image-wrapper {
    width: 50%;

    img {
      margin-left: 80px;
    }
  }

  .section__content-wrapper {
    width: 50%;
    text-align: right;
  }
}
