@import "../../../assets/scss/variables.scss";

.sign-in__modal {
  width: 492px;
  height: 708px;
  background-color: $popup_background;
  border: 2px solid $main_color;
  overflow: hidden;

  .button,
  .input {
    width: 100%;
    box-sizing: border-box;
  }
}

.sign-in__row-block {
  width: 1384px;
  height: 100%;
  position: relative;
  right: 0;
  display: flex;
  transition: 1s ease-in-out;
}

.sign-in__login,
.sign-in__reg {
  width: 320px;
  padding: 40px;
  text-align: center;
}

.sign-in__login {
}

.sign-in__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sign-in__or-block {
  border: 1.5px solid #555555;
  background-color: #555555;
  color: #555555;
  height: 1.5px;
  top: 20px;
  margin: 40px 0;
}

.sign-in__or-text-block {
  position: relative;
  left: 50%;
}

.sign-in__or-text {
  position: relative;
  left: -50%;
  bottom: 7px;
  padding: 0 20px;
  background-color: $popup_background;
  font-family: "InputMono";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
}

.sign-in__with-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in__scroll {
  display: flex;
  background-color: $main_background;
  border-radius: 0 !important;
  border: none;
  padding: 0;
  cursor: pointer;

  h2 {
    margin-top: 40px;
    writing-mode: vertical-rl;
  }
}

.sign-in__scroll-to-reg,
.sign-in__scroll-to-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92px;
  height: 100%;
}

.sign-in__scroll-to-button {
  width: auto !important;
  border-radius: 10px !important;
}

.sign-in__scroll-to-log {
  h2 {
    transform: scale(-1, -1);
  }
  img {
    transform: scale(-1, 1);
  }
}

.sign-in__scroll-block {
  width: 400px;
}

.sign-in-scroll-active {
  right: 892px;
}

.sign-in__verification {
  display: flex;
  height: 42px;
  gap: 10px;
}

.input-code {
  width: 130px !important;
}
